<div class="jumbotron">

  <h1>Memory up!</h1>
  <p>Tell off your cellphone and tell your girlfriend you're busy</p>

  <div class="game-container" ng-include="'views/game.html'" ng-controller="GameController"></div>

</div>

<div class="row marketing">
  <h4>Memory Game</h4>
  <p>
    Just another copy of the famous Memory Game : match two images, pair by pair, and with a cake!
  </p>

  <h4>Provided by @arnlen</h4>
  <p>
    This wonderful game is humbly provided to you with love by @arnlen - QuimeO
  </p>

</div>