<div class="jumbotron">

  <h1>Memory. Test.</h1>
  <p>Welcome Subject. Please complete this test to get your reward. Remember that wrong answer could cause enjuries or death.</p>

  <div class="game-container" ng-include="'views/game.html'" ng-controller="GameController"></div>

</div>

<div class="row marketing">
  <h4>Memory Game</h4>
  <p>
    Just another copy of the famous Memory Game, but this time placed in the Portal Universe: match two images, pair by pair, and win a cake!
  </p>

  <h4>Provided by @arnlen</h4>
  <p>
    This wonderful game is humbly provided to you with love by @arnlen - QuimeO
  </p>

</div>